nersc-pymon==0.4.0
triton==3.5.0
filelock==3.20.0
Markdown==3.10
pytorch-lightning==2.6.0
nvidia-cuda-runtime-cu12==12.8.90
notebook==7.5.0
string-color==1.2.3
sympy==1.14.0
pytokens==0.3.0
gitdb==4.0.12
aiosignal==1.4.0
nvidia-cufft-cu12==11.3.3.83
tensorboard==2.20.0
frozenlist==1.8.0
jupyter==1.1.1
jupyter-console==6.6.3
nvidia-cublas-cu12==12.8.4.1
aiohttp==3.13.3
annotated-types==0.7.0
types-requests==2.32.4.20250913
nvidia-nvjitlink-cu12==12.8.93
kagglehub==0.3.13
torch_scatter==2.1.2+pt22cu121
torchmetrics==1.8.2
tensorboard-data-server==0.7.2
kagglesdk==0.1.13
nvidia-curand-cu12==10.3.9.90
uproot==5.6.8
colorlog==6.10.1
kaggle==1.8.2
typing-inspection==0.4.2
propcache==0.4.1
grpcio==1.76.0
lightning==2.6.0
multidict==6.7.0
typing_extensions==4.15.0
nvidia-cusparse-cu12==12.5.8.93
pydantic_core==2.41.5
yarl==1.22.0
awkward==2.8.10
torchvision==0.24.0
nvidia-cusolver-cu12==11.7.3.90
awkward_cpp==50
Columnar==1.4.1
GitPython==3.1.45
torch_sparse==0.6.18+pt22cu121
nvidia-nccl-cu12==2.27.5
torch_spline_conv==1.2.2+pt22cu121
mypy_extensions==1.1.0
jupyterlab_server==2.28.0
torch==2.9.0
lightning-utilities==0.15.2
jupyterlab==4.5.0
nvidia-nvshmem-cu12==3.3.20
Werkzeug==3.1.3
types-tqdm==4.67.0.20250809
sentry-sdk==2.44.0
python-slugify==8.0.4
plotly==6.5.0
xxhash==3.6.0
mypy==1.19.0
nvidia-cuda-cupti-cu12==12.8.90
black==25.11.0
text-unidecode==1.3
torch_cluster==1.6.3+pt22cu121
nvidia-nvtx-cu12==12.8.90
nvidia-cufile-cu12==1.13.1.3
absl-py==2.3.1
torch-geometric==2.7.0
narwhals==2.12.0
livelossplot==0.5.6
pathspec==0.12.1
torchpq==0.3.0.1
wandb==0.22.3
smmap==5.0.2
pydantic==2.12.4
vector==1.7.0
nvidia-cuda-nvrtc-cu12==12.8.93
aiohappyeyeballs==2.6.1
cramjam==2.11.0
librt==0.6.3
httpx==0.28.1
nvidia-cusparselt-cu12==0.7.1
nvidia-cudnn-cu12==9.10.2.21
vqtorch==0.1.0
overrides==7.4.0
psutil==5.9.7
webcolors==1.13
fastjsonschema==2.19.1
exceptiongroup==1.2.0
h11==0.14.0
parso==0.8.3
typing_extensions==4.9.0
idna==3.6
pyarrow-hotfix==0.6
entrypoints==0.4
ptyprocess==0.7.0
webencodings==0.5.1
rpds-py==0.16.2
MarkupSafe==2.1.3
hpack==4.0.0
defusedxml==0.7.1
patsy==0.5.6
decorator==5.1.1
click==8.1.7
lazy_loader==0.3
executing==2.0.1
Brotli==1.0.9
websocket-client==1.7.0
notebook_shim==0.2.3
python-dateutil==2.8.2
jupyter-events==0.9.0
setuptools==69.0.3
networkx==3.2.1
fonttools==4.47.0
PySocks==1.7.1
pyzmq==25.1.2
prometheus-client==0.19.0
xyzservices==2023.10.1
netCDF4==1.6.5
platformdirs==4.1.0
jupyterlab-widgets==3.0.9
wcwidth==0.2.13
fastrlock==0.8.2
pyparsing==3.1.1
Jinja2==3.1.2
matplotlib-inline==0.1.6
tomli==2.0.1
jsonpointer==2.4
sympy==1.12
dask==2023.12.1
cryptography==41.0.7
tifffile==2020.6.3
astropy==6.0.0
imagecodecs-lite==2019.12.3
cached-property==1.5.2
stack-data==0.6.2
threadpoolctl==3.2.0
pip==23.3.2
gmpy2==2.1.2
tornado==6.3.3
msgpack==1.0.7
wheel==0.42.0
requests==2.31.0
Send2Trash==1.8.2
isoduration==20.11.0
pytz==2023.3.post1
dnspython==2.4.2
async-lru==2.0.4
ipykernel==6.28.0
PyWavelets==1.4.1
mistune==3.0.2
tqdm==4.66.1
debugpy==1.8.0
pyerfa==2.0.1.1
matplotlib==3.8.2
widgetsnbextension==4.0.9
httpcore==1.0.2
bokeh==3.3.3
rfc3986-validator==0.1.1
argon2-cffi-bindings==21.2.0
pandas==2.1.4
SciPy==1.11.4
sip==6.7.12
six==1.16.0
llvmlite==0.41.1
jupyter_core==5.7.1
attrs==23.2.0
cycler==0.12.1
comm==0.2.1
pkgutil_resolve_name==1.3.10
jedi==0.19.1
pillow==10.2.0
tinycss2==1.2.1
sortedcontainers==2.4.0
prompt-toolkit==3.0.42
h2==4.1.0
arrow==1.3.0
jsonschema==4.20.0
hyperframe==6.0.1
Cython==0.29.37
locket==1.0.0
Babel==2.14.0
importlib-metadata==7.0.1
pickleshare==0.7.5
fqdn==1.5.1
psycopg2==2.9.9
Pygments==2.17.2
asttokens==2.4.1
pyproj==3.6.1
cupy-cuda12x==12.3.0
h5py==3.10.0
packaging==23.2
imageio==2.33.1
contourpy==1.2.0
anyio==4.2.0
scikit-image==0.20.0
numpy==1.26.3
typing-utils==0.1.0
jupyter-lsp==2.2.1
joblib==1.3.2
distributed==2023.12.1
mpmath==1.3.0
mpi4py==3.1.5
cytoolz==0.12.2
nbclient==0.8.0
sniffio==1.3.0
terminado==0.18.0
ipython==8.20.0
types-python-dateutil==2.8.19.20240106
pandocfilters==1.5.0
soupsieve==2.5
jupyter_server_terminals==0.5.1
pyarrow==12.0.1
rfc3339-validator==0.1.4
argon2-cffi==23.1.0
tabulate==0.9.0
charset-normalizer==3.3.2
urllib3==2.1.0
fsspec==2023.12.2
json5==0.9.14
pexpect==4.8.0
uri-template==1.3.0
importlib-resources==6.1.1
pure-eval==0.2.2
kiwisolver==1.4.5
pyshp==2.3.1
seaborn==0.13.1
munkres==1.1.4
ipympl==0.9.3
ply==3.11
partd==1.4.1
cftime==1.6.3
beautifulsoup4==4.12.2
cloudpickle==3.0.0
jupyterlab_server==2.25.2
jupyter_server==2.12.3
PyYAML==6.0.1
jupyterlab_pygments==0.3.0
Cartopy==0.22.0
ipython-genutils==0.2.0
numba==0.58.1
jupyterlab==4.0.10
lz4==4.3.3
tzdata==2023.4
pycparser==2.21
python-json-logger==2.0.7
nbformat==5.9.2
traitlets==5.14.1
mysql-connector-python==8.0.31
bleach==6.1.0
protobuf==4.21.12
ipywidgets==8.1.1
PyQt5==5.15.9
astropy-iers-data==0.2024.1.8.0.30.55
toml==0.10.2
tblib==3.0.0
jupyter_client==8.6.0
referencing==0.32.1
toolz==0.12.0
zict==3.0.0
zipp==3.17.0
colorama==0.4.6
cffi==1.16.0
Authlib==1.3.0
jsonschema-specifications==2023.12.1
nest-asyncio==1.5.8
PyQt5-sip==12.12.2
certifi==2023.11.17
dask-mpi==2022.4.0
scikit-learn==1.3.2
statsmodels==0.14.1
shapely==2.0.2
nbconvert==7.14.0
